<form [formGroup]='dogForm' (ngSubmit)='onSubmit()'>
  <div>
      <mat-form-field>
        <input matInput formControlName='name' placeholder="Name:">
      </mat-form-field>
  </div>
  <div>
    <label>Gender: </label>
    <mat-radio-group formControlName='gender'>
      <mat-radio-button [value]='true'>Male</mat-radio-button>
      <mat-radio-button [value]='false'>Female</mat-radio-button> 
    </mat-radio-group>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="Color" formControlName='color'>
        <mat-option value='black'>black</mat-option>
        <mat-option value='brown'>brown</mat-option>
        <mat-option value='yellow'>yellow</mat-option>
        <mat-option value='white'>white</mat-option>
        <mat-option value='ginger'>ginger</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button (click)='onClose()'>Close</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>